#### PYTHON PROGRAMMING
#### DAY 2 ON 9 DEC 2021

In [ ]:
""""
Agenda
(1)Recap 
(2)Condition 
(3)Loops
(4)Functions
(5)Import Packages with functions
(6)Errors handling
"""


"""
next topics
# read from file
# read data from database
# visualize file
# intro to numpy, pandas and matplotlib
"""

## (1) Recap

In [ ]:
# file Python Section 1.1

## (2) Condition

In [ ]:
# Condition operators 
"""
Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
a in b
"""

In [ ]:
TZ_regions = ['Pwani', 'Dodoma', 'Rukwa','Arusha']

Region = 'Arusha'

#if without else
if Region in TZ_regions:
    print(Region + " is in Tanzania")

In [ ]:
#if ..else   else holds when condition is false
if Region in TZ_regions:
    print(Region + " is in Tanzania")
else:
    print(Region + " is not a region in Tanzania")

In [ ]:
#if ..elif   allows multiple conditions
a = 34
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
elif b < a:
  print("a is greater than b")

In [ ]:
#conditions can be nested to each other

## (3) Loops

In [ ]:
# while loop, repeat while condition is true
x = 6
z = 2 
while (z < x):
    z = z + 1
    print(z)

In [ ]:
#for loop, repeat execution for fixed number of times
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for i in range(len(fruits)):
    print(fruits[i])

In [ ]:
for z in range(0,10):
    print(z)

In [24]:
for z in range(0,10):
    if z==2:
        break
    print(z)

0
1

In [26]:
for i in range(0,4):
    for j in range(0,5):
        print("i = {}, and j={}".format(i,j))

i = 0, and j=0
i = 0, and j=1
i = 0, and j=2
i = 0, and j=3
i = 0, and j=4
i = 1, and j=0
i = 1, and j=1
i = 1, and j=2
i = 1, and j=3
i = 1, and j=4
i = 2, and j=0
i = 2, and j=1
i = 2, and j=2
i = 2, and j=3
i = 2, and j=4
i = 3, and j=0
i = 3, and j=1
i = 3, and j=2
i = 3, and j=3
i = 3, and j=4

In [28]:
for i in range(0,4):
    for j in range(0,5):
        if i == j:
            continue
        print("i = {}, and j={}".format(i,j))

i = 0, and j=1
i = 0, and j=2
i = 0, and j=3
i = 0, and j=4
i = 1, and j=0
i = 1, and j=2
i = 1, and j=3
i = 1, and j=4
i = 2, and j=0
i = 2, and j=1
i = 2, and j=3
i = 2, and j=4
i = 3, and j=0
i = 3, and j=1
i = 3, and j=2
i = 3, and j=4

In [ ]:
# break and continue are used to break or skip loop 
# loops can be nested

## (3) Functions

In [30]:
# function is a block of code that is called to execute
# can be part of code that is run more that one 
# helps to reduce size of code and make code clean and maintainable 
#use keyword def

#define function, may or may not take input
def name_of_function():
  print("output function")

#call function
name_of_function()

output function

In [32]:
#Function that takes argument
def name_function(name):
  print("Your name is {}".format(name))

name_function("Rwey")

Your name is Rwey

In [34]:
#Function that takes argument
def name_function(firstname, lastname):
  print("Your name is {} {}".format(firstname,lastname))

name_function("Rwey","Barongo")

Your name is Rwey Barongo

In [40]:
#function that takes input and returns value
def area_of_circle(radius):
    return round(22/7 * (radius^2),2)

area_of_circle(7)

15.71

## (5) Import Packages with functions

In [46]:
# import package with function
import math 

x = math.lcm(7,3)
x

21

In [ ]:
    math. + tab to view package functions

## (6) Error Handling

In [48]:
a = 7
b = 0
c = 1
try:
    c = a / b
except:
    print("error")
else:
    print(c)

error

In [ ]:
## Pandas, Numpy and Matplotlib