#### PYTHON FOR DATA ANALYTICS
#### DAY 3 ON 16 DEC 2021

In [ ]:
""""
Agenda
(1)Recap 
(2)introduction to pandas 
   (2.1)  pandas - data collection (csv, excel, database)
   (2.2)  pandas data analysis 


"""


"""
next topics
# introduction to numpy
# apply function to dataframe
# grouping: pivot table, cross tabulation, and group by functions
# data visualization
"""

### (1) Recap
### (2) Introduction to Pandas

In [ ]:
"""
pandas and numpy
Pandas is a python library for processing tabular and heterogeneous data
  Individual columns in pandas are called series
Numpy is a python library for processing tabulan and homogeneous numeric data

references
 https://pandas.pydata.org/docs/index.html 
 https://www.datacamp.com/community/blog/python-pandas-cheat-sheet?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=12492439802&utm_adgroupid=122563403481&utm_device=c&utm_keyword=panda%20package%20python&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=504158804617&utm_targetid=aud-299261629574:kwd-614516587896&utm_loc_interest_ms=&utm_loc_physical_ms=1012832&gclid=Cj0KCQiAweaNBhDEARIsAJ5hwbfZf7p2czMb_6r8eKJ5Vxcv0YKC6NJlUPrRfFoOS7ig81fAlMZntbAaAl_OEALw_wcB
"""

### (2.1) Pandas - data collection (csv, excel, database)

In [ ]:
#Create pandas from CSV
import pandas as pd
csv_path = "C:\\CBSBNKSTMTS.csv"
df=pd.read_csv(csv_path)
#df stands for dataframe
type(df)
#df.info()
df.head(100)

In [ ]:
a = {2,3}
type(a)

In [ ]:
df

In [ ]:
#csv path can be a link 
csv_path2 = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df2=pd.read_csv(csv_path2)
df2.head()   #print first 5 rows

In [ ]:
path =  'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.csv'
df_3 = pd.read_csv(path)
df_3

In [ ]:
#df
#df.head()
#df.head(2)
df.tail(2)

In [ ]:
#create pandas from excel
excel_path = "C:\\_rwey\\pers\\PDP\\IBM\\shule\\mod2\\file\\CBSBNKSTMTSxls.xls"
df2=pd.read_excel(excel_path)
df2

In [ ]:
#creating pandas dataframe from dictionary
songs = {'Album':['Thriller','Back in Black','The Dark Side of the Moon',\
'The Bodyguard','Bat Out of Hell'],
'Released': [1982,1980,1973,1992,1977],
'Length':['00:42:19','00:42:11','00:42:29', '00:57:44','00:42:59']}
songs_frame = pd.DataFrame(songs)
songs_frame

In [ ]:
regions = {'name': ['Arusha', 'Mwanza'], 'population':[3455555,6666654]}
type(regions)
df_regions = pd.DataFrame(regions)
df_regions

### (2.2) Pandas - data analysis

In [ ]:
#df.info()
#df['ACCOUTNO']
df4 = df[['ACCOUTNO','CURRENCY','OPENINGBALANCEDRCR']]
df4

In [ ]:
#extract one column
df['CURRENCY']

In [ ]:
# df info, to get description of your dataframe
df.info()

In [ ]:
# df type
type(df)

In [ ]:
#statistical summary
df.describe()

In [ ]:
#extract one multiple columns
df[['CURRENCY', 'ACCOUTHOLDERNAME']]

In [ ]:
#test column data using conditions
#df['CURRENCY']
#df[df['CURRENCY'] == 'USD']
mask = ((df['CURRENCY'] == 'USD') & (df['CLOSINGBALANCEDRCR'] == 'CR'))
df5 = df[mask]
#df5.to_csv("C:\\usdcr.csv", index=False)
df5.to_csv("C:\\_rwey\\pers\\PDP\\IBM\\shule\\mod2\\file\\usdcr.csv.csv")

In [51]:
df5

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
7,711074,09-NOV-21,10-NOV-21,CURRENT A/C - FRNYUS33,NaN,021085897TANZA,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,2.788084e+08,2.788084e+08,11,BPG101120213836902,NaN,NaN,NaN,NaN
120,709655,07-OCT-21,08-OCT-21,CURRENT ACCOUNT CITIGB2L,NaN,5520975,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.240795e+06,4.240795e+06,3,BPG081020213612018,EXCEPTION,NaN,NaN,NaN
129,709681,07-OCT-21,08-OCT-21,CURRENT A/C - FRNYUS33,NaN,021085897TANZA,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,1.624058e+08,1.624058e+08,11,BPG081020213611993,RECONCILED,NaN,NaN,NaN
223,709529,06-OCT-21,07-OCT-21,CURRENT ACCOUNT CITIGB2L,NaN,5520975,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.278034e+06,4.278034e+06,2,BPG071020213606918,EXCEPTION,NaN,NaN,NaN
235,709541,08-SEP-21,09-SEP-21,CURRENT A/C - FRNYUS33,NaN,021085897TANZA,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,1.411568e+08,1.411568e+08,4,BPG090920213470075,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4214,712065,01-DEC-21,02-DEC-21,CURRENT A/C CHASUS33,NaN,0011865383,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.453418e+07,4.453418e+07,4,BPG021220213956886,NaN,NaN,NaN,NaN
4248,712570,13-DEC-21,14-DEC-21,CURRENT A/C CHASUS33,NaN,0011865383,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.444603e+07,4.444603e+07,3,BPG141220214021465,NaN,NaN,NaN,NaN
4263,710819,03-NOV-21,04-NOV-21,CURRENT A/C DEUTDEFF,NaN,100957550707,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,6.493900e+02,6.493900e+02,2,BPG041120213788240,NaN,NaN,NaN,NaN
4273,710838,03-NOV-21,04-NOV-21,CURRENT A/C CHASUS33,NaN,0011865383,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.553822e+07,4.553822e+07,6,BPG041120213788230,NaN,NaN,NaN,NaN
4331,710368,21-OCT-21,22-OCT-21,CURRENT A/C CHASUS33,NaN,0011865383,TANZTZTX,TANZTZTX,P105,USD,...,NaN,CR,4.815302e+07,4.815302e+07,4,BPG221020213720852,NaN,NaN,NaN,NaN

In [ ]:
# extract columns where currency is usd
df[df['CURRENCY']=='USD']

In [52]:
# extract columns using multiple columns
mask = (df['CURRENCY']=='USD') & (df['ACCOUTHOLDERNAME']=='CURRENT A/C- CITIUS33')
df[mask]

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
5,711071,09-NOV-21,10-NOV-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,1.081130e+08,1.081130e+08,13,BPG101120213836918,RECONCILED,NaN,NaN,NaN
20,711552,20-NOV-21,21-NOV-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,8.225939e+07,8.225939e+07,1,BPG211120213898585,NaN,NaN,NaN,NaN
76,712400,09-DEC-21,10-DEC-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,8.879780e+07,8.879780e+07,2,BPG101220214001436,RECONCILED,NaN,NaN,NaN
102,709637,07-OCT-21,08-OCT-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,1.700829e+08,1.700829e+08,24,BPG081020213612009,RECONCILED,NaN,NaN,NaN
150,710223,17-OCT-21,18-OCT-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,3.437356e+07,3.437356e+07,0,BPG181020213700912,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4169,709836,09-OCT-21,10-OCT-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,3.437356e+07,3.437356e+07,0,BPG101020213620115,NaN,NaN,NaN,NaN
4184,710480,26-OCT-21,27-OCT-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,1.385592e+08,1.385592e+08,21,BPG271020213741384,RECONCILED,NaN,NaN,NaN
4239,712541,12-DEC-21,13-DEC-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,1.025621e+08,1.025621e+08,1,BPG131220214015007,NaN,NaN,NaN,NaN
4270,710834,03-NOV-21,04-NOV-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,7.163313e+07,7.163313e+07,38,BPG041120213788249,RECONCILED,NaN,NaN,NaN
4322,711886,27-NOV-21,28-NOV-21,CURRENT A/C- CITIUS33,NaN,36113007,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,8.412245e+07,8.412245e+07,1,BPG281120213926467,NaN,NaN,NaN,NaN

In [ ]:
# you can build mask and use it several times, it also help in troubleshooting
mask = (df['CURRENCY']=='USD') & (df['ACCOUTHOLDERNAME']=='CURRENT A/C- CITIUS33')
df1 = df[mask]
df1

In [ ]:
# save data as csv
df1.to_csv("C:\\_rwey\\pers\\PDP\\IBM\\shule\\mod2\\file\\CBSBNKSTMTS_usd_citius.csv")

In [ ]:
# Access the value on the first row and the first column
df1.iloc[0, 0]

# Access the value on the second row and the first column
df1.iloc[1,0]

# Access the value on the first row and the third column
df1.iloc[0,2]

In [56]:
df.iloc[1,3]

'PARIS CLUB-BKENGB2L'

In [57]:
df.loc[1,'ACCOUTHOLDERNAME']

'PARIS CLUB-BKENGB2L'

In [55]:
df

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
0,711064,09-NOV-21,10-NOV-21,NOSTRO,NaN,995529296HQ,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836940,NaN,NaN,NaN,NaN
1,711066,09-NOV-21,10-NOV-21,PARIS CLUB-BKENGB2L,NaN,42945003,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,CR,1.000000e-02,1.000000e-02,0,BPG101120213836923,NaN,NaN,NaN,NaN
2,711065,09-NOV-21,10-NOV-21,SPECIAL GOVERN. PROJ.-CITIUS33,NaN,36125358,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836919,NaN,NaN,NaN,NaN
3,711067,09-NOV-21,10-NOV-21,CENTRAL BANK OF KENYA,NaN,1000172568,TANZTZTX,TANZTZTX,P105,KES,...,NaN,CR,2.717207e+08,2.717207e+08,10,BPG101120213836911,RECONCILED,NaN,NaN,NaN
4,711070,09-NOV-21,10-NOV-21,EUR 2 DAYS NOTICE BISBCHBB,NaN,EUR2D,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836933,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,710396,21-OCT-21,22-OCT-21,CURRENT A/C- RIKSSESS,NaN,TZ114101,TANZTZTX,TANZTZTX,P105,SEK,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720902,NaN,NaN,NaN,NaN
4345,710397,21-OCT-21,22-OCT-21,CURRENT A/C ABSAZAJJ,NaN,027631ZAR671201,TANZTZTX,TANZTZTX,P105,ZAR,...,NaN,DR,3.830296e+06,3.830296e+06,0,BPG221020213720869,EXCEPTION,NaN,NaN,NaN
4346,710399,21-OCT-21,22-OCT-21,CALL A/C - CRASGB2L,NaN,332600051,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720880,NaN,NaN,NaN,NaN
4347,710402,21-OCT-21,22-OCT-21,FRNYUS33-ACCOUNT2,NaN,021087060TANZA2,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,2.400000e+04,2.400000e+04,0,BPG221020213720863,NaN,NaN,NaN,NaN
4348,710366,21-OCT-21,22-OCT-21,HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED,NaN,848-390951-209,TANZTZTX,TANZTZTX,P105,CNY,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720894,NaN,NaN,NaN,NaN

In [ ]:
# Access the column using the name ...take note of loc(use name) vs iloc(use index)
df1.loc[5, 'BANKSTMTID']

In [59]:
name = 'rajabu'
name[2:6]

'jabu'

In [ ]:
df1.iloc[0,2]

In [69]:
# Slicing the dataframe using index
#df.iloc[100:105, 2:6]
df.iloc[:, :]
#df.iloc[0:2, 0:3]

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
0,711064,09-NOV-21,10-NOV-21,NOSTRO,NaN,995529296HQ,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836940,NaN,NaN,NaN,NaN
1,711066,09-NOV-21,10-NOV-21,PARIS CLUB-BKENGB2L,NaN,42945003,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,CR,1.000000e-02,1.000000e-02,0,BPG101120213836923,NaN,NaN,NaN,NaN
2,711065,09-NOV-21,10-NOV-21,SPECIAL GOVERN. PROJ.-CITIUS33,NaN,36125358,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836919,NaN,NaN,NaN,NaN
3,711067,09-NOV-21,10-NOV-21,CENTRAL BANK OF KENYA,NaN,1000172568,TANZTZTX,TANZTZTX,P105,KES,...,NaN,CR,2.717207e+08,2.717207e+08,10,BPG101120213836911,RECONCILED,NaN,NaN,NaN
4,711070,09-NOV-21,10-NOV-21,EUR 2 DAYS NOTICE BISBCHBB,NaN,EUR2D,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836933,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,710396,21-OCT-21,22-OCT-21,CURRENT A/C- RIKSSESS,NaN,TZ114101,TANZTZTX,TANZTZTX,P105,SEK,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720902,NaN,NaN,NaN,NaN
4345,710397,21-OCT-21,22-OCT-21,CURRENT A/C ABSAZAJJ,NaN,027631ZAR671201,TANZTZTX,TANZTZTX,P105,ZAR,...,NaN,DR,3.830296e+06,3.830296e+06,0,BPG221020213720869,EXCEPTION,NaN,NaN,NaN
4346,710399,21-OCT-21,22-OCT-21,CALL A/C - CRASGB2L,NaN,332600051,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720880,NaN,NaN,NaN,NaN
4347,710402,21-OCT-21,22-OCT-21,FRNYUS33-ACCOUNT2,NaN,021087060TANZA2,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,2.400000e+04,2.400000e+04,0,BPG221020213720863,NaN,NaN,NaN,NaN
4348,710366,21-OCT-21,22-OCT-21,HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED,NaN,848-390951-209,TANZTZTX,TANZTZTX,P105,CNY,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720894,NaN,NaN,NaN,NaN

In [67]:
list = [4,4,63,5,3]
list[-2]

5

In [58]:
df

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
0,711064,09-NOV-21,10-NOV-21,NOSTRO,NaN,995529296HQ,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836940,NaN,NaN,NaN,NaN
1,711066,09-NOV-21,10-NOV-21,PARIS CLUB-BKENGB2L,NaN,42945003,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,CR,1.000000e-02,1.000000e-02,0,BPG101120213836923,NaN,NaN,NaN,NaN
2,711065,09-NOV-21,10-NOV-21,SPECIAL GOVERN. PROJ.-CITIUS33,NaN,36125358,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836919,NaN,NaN,NaN,NaN
3,711067,09-NOV-21,10-NOV-21,CENTRAL BANK OF KENYA,NaN,1000172568,TANZTZTX,TANZTZTX,P105,KES,...,NaN,CR,2.717207e+08,2.717207e+08,10,BPG101120213836911,RECONCILED,NaN,NaN,NaN
4,711070,09-NOV-21,10-NOV-21,EUR 2 DAYS NOTICE BISBCHBB,NaN,EUR2D,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836933,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,710396,21-OCT-21,22-OCT-21,CURRENT A/C- RIKSSESS,NaN,TZ114101,TANZTZTX,TANZTZTX,P105,SEK,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720902,NaN,NaN,NaN,NaN
4345,710397,21-OCT-21,22-OCT-21,CURRENT A/C ABSAZAJJ,NaN,027631ZAR671201,TANZTZTX,TANZTZTX,P105,ZAR,...,NaN,DR,3.830296e+06,3.830296e+06,0,BPG221020213720869,EXCEPTION,NaN,NaN,NaN
4346,710399,21-OCT-21,22-OCT-21,CALL A/C - CRASGB2L,NaN,332600051,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720880,NaN,NaN,NaN,NaN
4347,710402,21-OCT-21,22-OCT-21,FRNYUS33-ACCOUNT2,NaN,021087060TANZA2,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,2.400000e+04,2.400000e+04,0,BPG221020213720863,NaN,NaN,NaN,NaN
4348,710366,21-OCT-21,22-OCT-21,HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED,NaN,848-390951-209,TANZTZTX,TANZTZTX,P105,CNY,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720894,NaN,NaN,NaN,NaN

In [ ]:
# Slicing the dataframe using name

df1.loc[0:20, 'BANKSTMTID':'ADDRESS']

In [64]:
#intro to grouping
#df1
pd.crosstab(df.CLOSINGBALANCEDRCR, df.ACCOUTNO)

ACCOUTNO,0011666700039,0011865383,0051688,01287560123789,021085897TANZA,021087060TANZA2,0250210381900,027631ZAR671201,03-010-0003,0908004/TANZANIA,...,86601638,995529296HQ,AUD2D,EUR2D,GBP2D,SDR2D,TANZANIA,TANZANIA-SDR,TZ114101,USD2D
CLOSINGBALANCEDRCR,,,,,,,,,,,,,,,,,,,,,
CR,2,38,14,14,47,0,0,29,0,14,...,52,0,3,4,3,0,0,0,5,0
DR,100,64,88,88,55,102,102,73,101,87,...,49,87,98,97,98,101,101,101,96,101

In [62]:
df

,BANKSTMTID,STATEMENTDATETIME,CREDTTM,ACCOUTHOLDERNAME,ADDRESS,ACCOUTNO,STATEMENTACCOUNTFROM,STATEMENTACCOUNTTO,PAYMENTTYPE,CURRENCY,...,CLOSINGBALANCE,CLOSINGBALANCEDRCR,STATEMENTBALANCE,AVAILABLEBALANCE,NBOFTXS,MSGID,RECONSTATUS,CAT1,CAT2,TRANSACTIONCODE
0,711064,09-NOV-21,10-NOV-21,NOSTRO,NaN,995529296HQ,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836940,NaN,NaN,NaN,NaN
1,711066,09-NOV-21,10-NOV-21,PARIS CLUB-BKENGB2L,NaN,42945003,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,CR,1.000000e-02,1.000000e-02,0,BPG101120213836923,NaN,NaN,NaN,NaN
2,711065,09-NOV-21,10-NOV-21,SPECIAL GOVERN. PROJ.-CITIUS33,NaN,36125358,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836919,NaN,NaN,NaN,NaN
3,711067,09-NOV-21,10-NOV-21,CENTRAL BANK OF KENYA,NaN,1000172568,TANZTZTX,TANZTZTX,P105,KES,...,NaN,CR,2.717207e+08,2.717207e+08,10,BPG101120213836911,RECONCILED,NaN,NaN,NaN
4,711070,09-NOV-21,10-NOV-21,EUR 2 DAYS NOTICE BISBCHBB,NaN,EUR2D,TANZTZTX,TANZTZTX,P105,EUR,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG101120213836933,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4344,710396,21-OCT-21,22-OCT-21,CURRENT A/C- RIKSSESS,NaN,TZ114101,TANZTZTX,TANZTZTX,P105,SEK,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720902,NaN,NaN,NaN,NaN
4345,710397,21-OCT-21,22-OCT-21,CURRENT A/C ABSAZAJJ,NaN,027631ZAR671201,TANZTZTX,TANZTZTX,P105,ZAR,...,NaN,DR,3.830296e+06,3.830296e+06,0,BPG221020213720869,EXCEPTION,NaN,NaN,NaN
4346,710399,21-OCT-21,22-OCT-21,CALL A/C - CRASGB2L,NaN,332600051,TANZTZTX,TANZTZTX,P105,GBP,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720880,NaN,NaN,NaN,NaN
4347,710402,21-OCT-21,22-OCT-21,FRNYUS33-ACCOUNT2,NaN,021087060TANZA2,TANZTZTX,TANZTZTX,P105,USD,...,NaN,DR,2.400000e+04,2.400000e+04,0,BPG221020213720863,NaN,NaN,NaN,NaN
4348,710366,21-OCT-21,22-OCT-21,HONGKONG AND SHANGHAI BANKING CORPORATION LIMITED,NaN,848-390951-209,TANZTZTX,TANZTZTX,P105,CNY,...,NaN,DR,0.000000e+00,0.000000e+00,0,BPG221020213720894,NaN,NaN,NaN,NaN

### (3) Introduction to Numpy

In [ ]:
"""
Used for homogenuous numeric data
Has advantage of speed and efficient memory utilization compare to regular python
Is a basis for Pandas
Objectives
3.1 Creation
3.2 Indexing and Slicing
3.3 Basic Operations
3.4 Universal Functions

References:
https://numpy.org/doc/stable/reference/
"""

### (3.1) Creation

In [ ]:
#casting list to numpy array
import numpy as np
listX = [11,33,53,56,43]
a = np.array(listX)

In [ ]:
#Type of a is numpy.ndarray
type(a)

In [ ]:
#data type
a.dtype

In [ ]:
#numpy attributes
#number of elements
a.size   #5

In [ ]:
#a.ndim    number of dimensions
a.ndim    #1

In [ ]:
#   size of array in each dim
a.shape

In [ ]:
#we can access data as in list using numpy array name, square brackets and index
#a[0] is equal to listX[0]
listX[0]

In [ ]:
#update elements, similar to lists
a[0] = 23
a[0]

In [ ]:
#slice numpy array like lists and tuples, last index not included
b = a[2:4]
b

In [ ]:
#assign values
a[0:2]=43,56
a

In [ ]:
#basic operations -considered as eucledian vectors 
#addition and subtraction - similar to vector addition and subtractin
a = np.array([2,5])
b = np.array([3,6])
c = a + b
c

In [ ]:
d = a - b
d

In [ ]:
#multiplication of numpy array by scalar
e = a * 2
e